.register-form {
  display: flex;
  flex-direction: column;
}

.register-form input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.register-form button {
  padding: 10px;
  background-color: #ff7e5f;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.register-form button:hover {
  background-color: #feb47b;
}

.loginRedirect {
  text-align: center;
}

@media (max-width: 768px) {
  .register-card {
    flex-direction: column;
  }
}
